<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>canton.alfred-op5-helper</string>
	<key>connections</key>
	<dict>
		<key>0D64AC76-3D3B-466B-9F59-96ED7E6B9F17</key>
		<array/>
		<key>155644DB-979F-4481-912A-704E823D142B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFF3BF3D-0B86-40FA-A28B-972A899EE81E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AAA92C6E-F5E1-48BD-87C8-2780A6BF26CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>822E00E3-35D7-44B5-AA36-314B6F2C9572</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ADF2E946-4EE7-43E0-9661-429910E6A97C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F59FE0A1-294B-4A3A-A459-ECFE014A7518</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA432C7E-C084-4C8F-9ABE-DB5BE92D0049</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAA92C6E-F5E1-48BD-87C8-2780A6BF26CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1ECF9A4-A890-4480-B5F7-86D25FCB3030</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F59FE0A1-294B-4A3A-A459-ECFE014A7518</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EFF3BF3D-0B86-40FA-A28B-972A899EE81E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EFDF04E-65C1-4FBA-AE37-86514AF2BA23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F59FE0A1-294B-4A3A-A459-ECFE014A7518</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D64AC76-3D3B-466B-9F59-96ED7E6B9F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFAA5375-0853-40EA-A561-2CD4F0D2389C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Issue extra actions for this object</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christian Anton &lt;canton@op5.com&gt;</string>
	<key>description</key>
	<string>Request states of your IT components and services from op5 Monitor (v0.2.2)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>op5 Monitor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>MYURL=`php -f op5buildobjecturl.php "{query}"`
#echo $MYURL
open $MYURL</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D64AC76-3D3B-466B-9F59-96ED7E6B9F17</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>46</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>M</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E1ECF9A4-A890-4480-B5F7-86D25FCB3030</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>mon</string>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string>php -f mon.php "{query}"</string>
				<key>subtext</key>
				<string>Query op5 Monitor by short codes or host names</string>
				<key>title</key>
				<string>op5 Monitor query</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F59FE0A1-294B-4A3A-A459-ECFE014A7518</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>tell application "Alfred 2"
   search "op5actions {query}"
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFAA5375-0853-40EA-A561-2CD4F0D2389C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>m:zahnarztpraxis-gall</string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>ADF2E946-4EE7-43E0-9661-429910E6A97C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>op5 Monitor Action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>822E00E3-35D7-44B5-AA36-314B6F2C9572</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>op5actions</string>
				<key>script</key>
				<string>php -f op5actions.php "{query}"</string>
				<key>subtext</key>
				<string>Issue object specific actions on op5 Monitor object</string>
				<key>title</key>
				<string>op5 Monitor object actions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA432C7E-C084-4C8F-9ABE-DB5BE92D0049</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>OUTPUT="{query}"

if echo $OUTPUT | grep -qe "^url: "; then
	URL=$(echo $OUTPUT | sed -e "s/^url: //")
	open $URL
else
	echo "{query}" &gt;~/tmp/myquery
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AAA92C6E-F5E1-48BD-87C8-2780A6BF26CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>monconf</string>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string>php -f op5config.php {query}</string>
				<key>subtext</key>
				<string>configure the op5 Monitor Alfred Workflow</string>
				<key>title</key>
				<string>op5 Monitor Workflow Configuration</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>155644DB-979F-4481-912A-704E823D142B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>op5 Monitor Alfred Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2EFDF04E-65C1-4FBA-AE37-86514AF2BA23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f plist_set.php {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFF3BF3D-0B86-40FA-A28B-972A899EE81E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D64AC76-3D3B-466B-9F59-96ED7E6B9F17</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>155644DB-979F-4481-912A-704E823D142B</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>2EFDF04E-65C1-4FBA-AE37-86514AF2BA23</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>822E00E3-35D7-44B5-AA36-314B6F2C9572</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>AAA92C6E-F5E1-48BD-87C8-2780A6BF26CF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>ADF2E946-4EE7-43E0-9661-429910E6A97C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CA432C7E-C084-4C8F-9ABE-DB5BE92D0049</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>E1ECF9A4-A890-4480-B5F7-86D25FCB3030</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EFF3BF3D-0B86-40FA-A28B-972A899EE81E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F59FE0A1-294B-4A3A-A459-ECFE014A7518</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FFAA5375-0853-40EA-A561-2CD4F0D2389C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/fibbs/alfred-op5-helper</string>
</dict>
</plist>
